In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/refs/heads/master/public/data/latest/owid-covid-latest.json'
response = requests.get(url)
data = response.json()

# result = pd.json_normalize(data)
df = pd.DataFrame(data)
result_df = df.transpose()
result_df

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
AFG,Asia,Afghanistan,2024-08-04,235214.0,0.0,0.0,7998.0,0.0,0.0,5796.468,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
OWID_AFR,None,Africa,2024-08-04,13145380.0,36.0,5.143,259117.0,0.0,0.0,9088.877,...,None,None,None,None,None,1426736614.0,None,None,None,None
ALB,Europe,Albania,2024-08-04,335047.0,0.0,0.0,3605.0,0.0,0.0,118491.02,...,51.2,None,2.89,78.57,0.795,2842318.0,None,None,None,None
DZA,Africa,Algeria,2024-08-04,272139.0,18.0,2.571,6881.0,0.0,0.0,5984.05,...,30.4,83.741,1.9,76.88,0.748,44903228.0,None,None,None,None
ASM,Oceania,American Samoa,2024-08-04,8359.0,0.0,0.0,34.0,0.0,0.0,172831.6,...,None,None,None,73.74,None,44295.0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2024-08-04,3760.0,0.0,0.0,9.0,0.0,0.0,326928.1,...,None,None,None,79.94,None,11596.0,None,None,None,None
OWID_WRL,None,World,2024-08-14,775866783.0,47169.0,6738.429,7057132.0,815.0,116.429,97113.85,...,34.635,60.13,2.705,72.58,0.737,7975105024.0,None,None,None,None
YEM,Asia,Yemen,2024-08-04,11945.0,0.0,0.0,2159.0,0.0,0.0,312.509,...,29.2,49.542,0.7,66.12,0.47,33696612.0,None,None,None,None
ZMB,Africa,Zambia,2024-08-04,349842.0,18.0,2.571,4077.0,0.0,0.0,17359.357,...,24.7,13.938,2.0,63.89,0.584,20017670.0,None,None,None,None
ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,16577.57,...,30.7,36.791,1.7,61.49,0.571,16320539.0,None,None,None,None

In [5]:
result_df = pd.DataFrame()

for key in data.keys():
    row = data[key]
    row_df = pd.json_normalize(row)
    row_df['country_code'] = key
    result_df = pd.concat([result_df, row_df], ignore_index=True)

/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)
/tmp/ipykernel_11759/1018380900.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([result_df, row_df], ignore_index=True)

In [ ]:
assert result_df.shape == (247, 67), "dataframe is incorrect shape"

In [7]:
url_countries = "https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/refs/heads/master/json/countries.json"
response_contries = requests.get(url_countries)
raw_data_countries = response_contries.json()
df_countries = pd.json_normalize(raw_data_countries)

In [9]:
df_countries.head()

,id,name,iso3,iso2,numeric_code,phonecode,capital,currency,currency_name,currency_symbol,...,translations.de,translations.es,translations.fr,translations.ja,translations.it,translations.zh-CN,translations.tr,translations.ru,translations.uk,translations.pl
0,1,Afghanistan,AFG,AF,004,93,Kabul,AFN,Afghan afghani,Ø‹,...,Afghanistan,AfganistÃ¡n,Afghanistan,ã‚¢ãƒ•ã‚¬ãƒ‹ã‚¹ã‚¿ãƒ³,Afghanistan,é˜¿å¯Œæ±—,Afganistan,ÐÑ„Ð³Ð°Ð½Ð¸ÑÑ‚Ð°Ð½,ÐÑ„Ð³Ð°Ð½Ñ–ÑÑ‚Ð°Ð½,Afganistan
1,2,Aland Islands,ALA,AX,248,358,Mariehamn,EUR,Euro,â‚¬,...,Ã…land,Alandia,Ã…land,ã‚ªãƒ¼ãƒ©ãƒ³ãƒ‰è«¸å³¶,Isole Aland,å¥¥å…°ç¾¤å²›,Ã…land Adalari,ÐÐ»Ð°Ð½Ð´ÑÐºÐ¸Ðµ Ð¾ÑÑ‚Ñ€Ð¾Ð²Ð°,ÐÐ»Ð°Ð½Ð´ÑÑŒÐºÑ– Ð¾ÑÑ‚Ñ€Ð¾Ð²Ð¸,Wyspy Alandzkie
2,3,Albania,ALB,AL,008,355,Tirana,ALL,Albanian lek,Lek,...,Albanien,Albania,Albanie,ã‚¢ãƒ«ãƒãƒ‹ã‚¢,Albania,é˜¿å°”å·´å°¼äºš,Arnavutluk,ÐÐ»Ð±Ð°Ð½Ð¸Ñ,ÐÐ»Ð±Ð°Ð½Ñ–Ñ,Albania
3,4,Algeria,DZA,DZ,012,213,Algiers,DZD,Algerian dinar,Ø¯Ø¬,...,Algerien,Argelia,AlgÃ©rie,ã‚¢ãƒ«ã‚¸ã‚§ãƒªã‚¢,Algeria,é˜¿å°”åŠåˆ©äºš,Cezayir,ÐÐ»Ð¶Ð¸Ñ€,ÐÐ»Ð¶Ð¸Ñ€,Algieria
4,5,American Samoa,ASM,AS,016,1,Pago Pago,USD,United States dollar,$,...,Amerikanisch-Samoa,Samoa Americana,Samoa amÃ©ricaines,ã‚¢ãƒ¡ãƒªã‚«é ˜ã‚µãƒ¢ã‚¢,Samoa Americane,ç¾Žå±žè¨æ‘©äºš,Amerikan Samoasi,ÐÐ¼ÐµÑ€Ð¸ÐºÐ°Ð½ÑÐºÐ¾Ðµ Ð¡Ð°Ð¼Ð¾Ð°,ÐÐ¼ÐµÑ€Ð¸ÐºÐ°Ð½ÑÑŒÐºÐµ Ð¡Ð°Ð¼Ð¾Ð°,Samoa AmerykaÅ„skie

In [10]:
df_countries = df_countries[["iso3", "capital"]]

In [11]:
merge_df = result_df.merge(df_countries, left_on="country_code", right_on="iso3")

In [13]:
merge_df.head()

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,country_code,iso3,capital
0,Asia,Afghanistan,2024-08-04,235214.0,0.0,0.000,7998.0,0.0,0.0,5796.468,...,64.83,0.511,41128772.0,None,None,None,None,AFG,AFG,Kabul
1,Europe,Albania,2024-08-04,335047.0,0.0,0.000,3605.0,0.0,0.0,118491.020,...,78.57,0.795,2842318.0,None,None,None,None,ALB,ALB,Tirana
2,Africa,Algeria,2024-08-04,272139.0,18.0,2.571,6881.0,0.0,0.0,5984.050,...,76.88,0.748,44903228.0,None,None,None,None,DZA,DZA,Algiers
3,Oceania,American Samoa,2024-08-04,8359.0,0.0,0.000,34.0,0.0,0.0,172831.600,...,73.74,NaN,44295.0,None,None,None,None,ASM,ASM,Pago Pago
4,Europe,Andorra,2024-08-04,48015.0,0.0,0.000,159.0,0.0,0.0,602280.440,...,83.73,0.868,79843.0,None,None,None,None,AND,AND,Andorra la Vella